body {
  background: url("/images/Cosmos.jpg");
  background-repeat: repeat;
  color: #FFFFFF;
}

/*Hyperlinks*/
a {
  color:coral;
}

p {
  max-width :  800px;
}
#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

div {
  max-width : 800px;
}